<%- include('partials/header') %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<div class="jumbotron text-center">
  <div id="secrets-box" style="margin-top: 5%;" class="container">
    <!-- <i class="fas fa-key fa-6x"></i> -->
    
    <h1 id="header" class="display-3">Lets Chat!</h1>
      <div id="full-chat-block-id" class="full-chat-block">
        <div class="outer-container">
          <div class="chat-container">
            <div id="chatbox">
              <!-- EJS to display posts -->
              <% chat.messages.forEach(function(message){ %>
                  <p class="post-user"><%=message.user%> &nbsp <span id="date"><%=message.date%></span></p>
                  <div class="secret-text-box">
                    <p>&nbsp &nbsp<%=message.content%>&nbsp &nbsp</p>
                  </div>
              <% }); %>
            </div>

          </div>
        </div>

        <div id="chat-bottom">
          <p></p>
        </div>

      </div>
      <!-- User input -->
      <form action="/secrets" method="POST" autocomplete="off">
        <div id="chat-bar-input-block-id" class="chat-bar-input-block">

            <div class="userInput">
              <input id="textInput" class="input-box" type="text" name="secret"
              placeholder="Tap 'Enter' to send a message" autocomplete="off"> 
            </div>
            <button id="submit-btn" type="submit"> <i class="fas fa-paper-plane"></i> </button>
        </div>
      </form>
    </div>

    <hr>

    <div>
      <a id="logout-btn" class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    </div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
   const socket = io();
   socket.on("connect", () => {
      console.log("Client connected");
   });

  //  socket.on("randomMessage", (randomMessage) => {
  //     const latestMessage = randomMessage[randomMessage.length - 1];
  //     const messageContent = latestMessage.content;
  //     console.log(messageContent);
  //  });

   socket.on("newMessage", (newMessage) => {

    const latestMessage = newMessage[newMessage.length - 1];
    const messageContent = latestMessage.content;
    const messageSender = latestMessage.user;
    const messageDate = latestMessage.date;
    
    const mContent = document.createElement("div");
    mContent.classList.add("secret-text-box");

    const mSender = document.createElement("p");
    mSender.classList.add("post-user");

    const mDate = document.createElement("span");
    mDate.setAttribute("id", "date");

    mContent.innerHTML = messageContent;
    mSender.innerHTML = messageSender;
    mDate.innerHTML = messageDate;

    const messageWrap = document.createElement("div");
    messageWrap.innerHTML = "<p class='post-user'>" + messageSender + "&nbsp <span id='date'>" + messageDate + "</span></p>" + 
    "<div class='secret-text-box'> <p>&nbsp &nbsp" + messageContent +  "&nbsp &nbsp</p> </div>";

    document.querySelector("#chatbox").appendChild(messageWrap);
    $('#full-chat-block-id').scrollTop($('#full-chat-block-id')[0].scrollHeight);

   });

 </script>

<script>
  $('#full-chat-block-id').scrollTop($('#full-chat-block-id')[0].scrollHeight);
</script>

<%- include('partials/footer') %>
